<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    {% for message in messages %}
  <li class={{message.tags}}>{{message}}</li>
  {% endfor %}

    <form action = "/addTripProcess" method = "post">
      {% csrf_token %}
      <h3>Destination: </h3> <input type = "text" name = "destination"><br>
      <h3>Description: </h3> <input type = "text" name = "description"><br>
      <h3>Travel Date From: </h3> <input type = "date" name = "date_from"> <br>
      <h3>Travel Date to: </h3><input type = "date" name = "date_to"><br>
      <input type = "Submit" value = "Register">
    </form>



  </body>
</html>
